/*
    codeminus.org CSS library.
    version: 0.3
*/
@import "normalize.css";
@import "containers.css";
@import "colors.css";
@import "navs.css";
@import "forms.css";
@import "tables.css";
@import "messages.css";


html{
  font-family: Arial,Helvetica,sans-serif;
  color: #666;
  outline: none;
}

a, a:visited{
  text-decoration: none;
  color: #4183C4;
  outline: none;
  display: inline-block;
}

a img{
  border: none;
  margin-bottom: -2px;
}


h1, h2, h3, h4, h5, h6{
  color: #444;
  margin: 10px 0px;
}

h1{ font-size: 4em; }
h2{ font-size: 3.5em; }
h3{ font-size: 3em; }
h4{ font-size: 2.5em; }
h5{ font-size: 2em; }
h6{ font-size: 1.5em; }

.block{
  display: block;
}

.inline{
  display: inline;
}

.hide{
  display: none;    
}

.invisible{
  visibility: hidden;
}

.float-Left{
  float: left;
}

.float-right{
  float: right;
}

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}

.bold{
  font-weight: bold;
}

.underline{
  border-bottom: solid 1px #e5e5e5;
}

.upper-foot{
  min-height: 80px;
  background-color: #F8F8F8;
  padding: 10px 0px;
  border-top: solid 1px #e5e5e5;    
}

.upper-foot *{
  font-size: 12px;
}

.lower-foot{
  min-height: 40px;
  padding: 20px 0px;
}

.foot-menu{
  float: left;
  width: 200px;
  margin: 10px;
  margin-bottom: 20px;    
}

.foot-menu .header{
  color: #666;
  border-bottom: solid 1px #E1E1E1;
  font-weight: bold;
  padding-bottom: 5px;
  margin-top: 10px;
  margin-bottom: 5px;
}


.page-header{
  background: #FFFFFF;  
  background-image: -moz-linear-gradient(top, #f9f9f9, #f3f3f3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f9f9f9), to(#f3f3f3));
  background-image: -webkit-linear-gradient(top, #f9f9f9, #f3f3f3);
  background-image: -o-linear-gradient(top, #f9f9f9, #f3f3f3);
  background-image: linear-gradient(to bottom, #f9f9f9, #f3f3f3);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff9f9f9', endColorstr='#fff3f3f3', GradientType=0);
  text-shadow: 0 1px 0 #fff;
  border-bottom: 1px solid #e5e5e5;
  padding: 5px;
}