/*codeminus.org Source code styling CSS library v1.0*/
/* ==========================================================================
   Source code line
   ========================================================================== */
.code-line {
  background-color: #f7f7f7;
  color: #333;
  border-left: solid 1px #ddd;
  padding-left: 2px;
}
/* ==========================================================================
   Numbered lines
   ========================================================================== */
.code-line-numbered{
  padding: 0px;
}
.code-line-numbered ol{
  margin: 0px;
  margin-right: 5px;
  list-style-type: decimal-leading-zero;
  background-color: #fefefe;
  color: #999;
}
/* ==========================================================================
   Code highlighting
   ========================================================================== */
.code-highlight-string{
  color: red;
}
.code-highlight-comment{
  color: #aaa;
}