/*codeminus.org Containers CSS library v1.0*/
/* ==========================================================================
   Main Containers
   ========================================================================== */
[class^="container-"], [class*=" container-"]{
  vertical-align: top;
}
.container-centered{
  width: 920px;
  margin: 0 auto;
}
.container-header{
  background-color: #f7f7f7;
  border-bottom: solid 1px #d8d8d8;
  padding: 10px 0;
  margin-bottom: 10px;
}
.container-upper-foot{
  background-color: #f7f7f7;
  border-top: solid 1px #d8d8d8;
  font-size: 85%;
  padding: 10px 0;
  margin-top: 10px;
}
.container-lower-foot{
  font-size: 85%;
  padding: 10px 0;
}
/* ==========================================================================
   Container alert
   ========================================================================== */
.container-alert > div,
.container-alert > header,
.container-alert > section,
.container-alert > footer{
  border: solid 1px #d8d8d8;
}
.container-alert.success > *{
  background-color: #dff0d8;
}
.container-alert.warning > *{
  background-color: #fcf8e3;
}
.container-alert.info > *{
  background-color: #d9edf7;
}
.container-alert.error > *{
  background-color: #f2dede;
}
/* ==========================================================================
   Container box
   ========================================================================== */
.container-box{
  display: inline-block;
}
.container-box > *:first-child{
  border: solid 1px #d8d8d8;
}
.container-box.rounded > *:first-child{
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.container-box.rounded > *:last-child{
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.container-box > *{
  border: solid 1px #d8d8d8;
  border-top: none;
  padding: 8px 11px;
  background-color: white;
}
.container-box > header, .container-box > .header,
.container-box > footer, .container-box > .footer{
  background-color: #f7f7f7;
  text-shadow: 0 1px 0 #fff;
}
.container-box > header, .container-box > .header{
  font-weight: bold;
}
.container-box > footer, .container-box > .footer{
  color: #999;
  font-size: 80%;
}
/* ==========================================================================
   Container box style 02
   ========================================================================== */
.container-box.style02 > footer, .container-box.style02 > header{
  background-color: #fafafa;
  background-image: -moz-linear-gradient(#fafafa, #e7e7e7);
  background-image: -webkit-linear-gradient(#fafafa, #e7e7e7);
  background-image: linear-gradient(#fafafa, #e7e7e7);
  background-repeat: repeat-x;
}
/* ==========================================================================
   Bubble container
   ========================================================================== */
.container-bubble{
  background-color: #eee;
  border-radius: 3px;
  padding: 3px;
  display: inline-block;
}
.container-bubble > *{
  display: block;
}
/* ==========================================================================
   Layout row
   ========================================================================== */
[class*="span"]{
  float:left;
}
.span10{
  width: 920px;
}
.span9{
  width: 828px;
}
.span8{
  width: 736px;
}
.span7{
  width: 644px;
}
.span6{
  width: 552px;
}
.span5{
  width: 460px;
}
.span4{
  width: 368px;
}
.span3{
  width: 276px;
}
.span2{
  width: 184px;
}
.span1{
  width: 92px;
}

.offset9{
  margin-left: 828px;
}
.offset8{
  margin-left: 736px;
}
.offset7{
  margin-left: 644px;
}
.offset6{
  margin-left: 552px;
}
.offset5{
  margin-left: 460px;
}
.offset4{
  margin-left: 368px;
}
.offset3{
  margin-left: 276px;
}
.offset2{
  margin-left: 184px;
}
.offset1{
  margin-left: 92px;
}