/*codeminus.org Containers CSS library v1.0*/
/* ==========================================================================
   Main Containers
   ========================================================================== */
[class^="container-"], [class*=" container-"]{
  vertical-align: top;
}
.container-centered{
  width: 920px;
  margin: 0 auto;
}
.container-header{
  background-color: #f7f7f7;
  border-bottom: solid 1px #d8d8d8;
  padding: 10px 0;
  margin-bottom: 10px;
}
.container-upper-foot{
  background-color: #f7f7f7;
  border-top: solid 1px #eee;
  font-size: 85%;
  padding: 10px;
  margin-top: 10px;
}
.container-lower-foot{
  font-size: 85%;
  padding-top: 5px;
}
/* ==========================================================================
   Container message
   ========================================================================== */
.container-box.success section,
.container-bubble.success section,
.container-shadow.success section{
  background-color: #dff0d8;
}
.container-box.warning section,
.container-bubble.warning section,
.container-shadow.warning section{
  background-color: #fcf8e3;
}
.container-box.info section,
.container-bubble.info section,
.container-shadow.info section{
  background-color: #d9edf7;
}
/* ==========================================================================
   Container box
   ========================================================================== */
.container-box{
  display: inline-block;
}
.container-box > header:first-child,
.container-box > section:first-child,
.container-box > footer:first-child{
  border: solid 1px #d8d8d8;
}
.container-box.rounded > header:first-child,
.container-box.rounded > section:first-child,
.container-box.rounded > footer:first-child{
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.container-box.rounded > header:last-child,
.container-box.rounded > section:last-child,
.container-box.rounded > footer:last-child{
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.container-box > header,
.container-box > section,
.container-box > footer{
  border: solid 1px #d8d8d8;
  padding: 8px 11px;
}
.container-box > header,
.container-box > footer{
  background-color: #f7f7f7;
  text-shadow: 0 1px 0 #fff;
}
.container-box > header{
  font-weight: bold;
}
.container-box > section{
  background-color: white;
}
.container-box > footer{
  color: #999;
  font-size: 80%;
}
.container-box > header,
.container-box > section,
.container-box > footer{
  border-top: none;
}
/* ==========================================================================
   Container box style 02
   ========================================================================== */
.container-box.style02 > footer, .container-box.style02 > header{
  background-color: #fafafa;
  background-image: -moz-linear-gradient(#fafafa, #e7e7e7);
  background-image: -webkit-linear-gradient(#fafafa, #e7e7e7);
  background-image: linear-gradient(#fafafa, #e7e7e7);
  background-repeat: repeat-x;
}
/* ==========================================================================
   Bubble container
   ========================================================================== */
.container-bubble{
  background-color: #eee;
  border-radius: 3px;
  padding: 3px;
  display: inline-block;
}
/* ==========================================================================
   Container shadow
   ========================================================================== */
.container-shadow{
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
  display: inline-block;
}
/* ==========================================================================
   Utility classes
   ========================================================================== */
.container-childs-margined > *{
  margin: 5px !important;
}
.container-childs-block > *{
  display: block;
}