/*Containers stylesheet v1.0*/

/* ==========================================================================
   Root container.
   ========================================================================== */
.root{
  width: 940px;
  margin: 0px auto;
  margin-bottom: 20px;
}

.header-container{
   background-color: #f7f7f7;
   border-bottom: solid 1px #ddd;
   padding: 10px 0px;
}

/* ==========================================================================
   Default container
   ========================================================================== */
.default-container{
  margin-bottom: 20px;
}
.default-container > header, .default-container > section, .default-container > footer{
  border: solid 1px #ddd;
  padding: 10px;
}

.default-container > header, .default-container > footer{
  background-color: #f7f7f7;
  color: #333;
}

.default-container > header{
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  font-weight: bold;
}

.default-container > footer{
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  text-align: right;
  color: #999;
}

.default-container > section, .default-container > footer{
  border-top: none;
}

.default-container:last-child{
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.default-container .separator{
  display: block;
  height: 2px;
  border-bottom: 1px solid #e5e5e5;
  margin: 10px 0px; 
}