/*codeminus.org Forms CSS library v1.0*/
/* ==========================================================================
   General form tags
   ========================================================================== */
fieldset{
  border: solid 1px #dcdcdc;
  margin-bottom: 5px;
}
legend{
  font-size: 90%;
  padding: 0px 3px;
  color: #aaa;
}
label{
  font-weight: bold;
}
input, textarea, select, button, .btn, 
.input-group > label, .input-group > span{
  display: inline-block;
  margin: 5px 0px;
  padding: 6px;
  border-radius: 2px;
  border: solid 1px #dcdcdc;
  color: #333;
  vertical-align: middle;
}
select{
  padding: 5px;
}
input[type="radio"], input[type="checkbox"]{
  border: none;
  position: relative;
  top: 2px;
}
input[type="text"], input[type="password"], input[type="email"],textarea{
  -webkit-appearance: none;
}
input[type="text"], input[type="password"], input[type="email"], textarea,
select{
  width: 175px;
  background-color: white;
  
}
input:focus, textarea:focus, select:focus{
  background-color: #ffffee;
  border-color: #ccc;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
}
input:disabled, textarea:disabled{
  background-color: #fafafa !important;
  color: #bbb !important;
  border: solid 1px #dcdcdc !important;
  box-shadow: none !important;
}
::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder{
  color: #999 !important;
}
/* ==========================================================================
   Button tags
   ========================================================================== */
input[type="submit"], input[type="reset"], input[type="button"],
button, .btn, .btn:visited{
  border: 1px solid #dcdcdc;
  font-weight: bold;
  cursor: pointer;
  background-color: #f7f7f7;
  background-image: -moz-linear-gradient(#f7f7f7, #f3f3f3);
  background-image: -webkit-linear-gradient(#f7f7f7, #f3f3f3);
  background-image: linear-gradient(#f7f7f7, #f3f3f3);
  background-repeat: repeat-x;
}
input[type="submit"]:hover, input[type="reset"]:hover,
input[type="button"]:hover, button:hover, .btn:hover{
  border-color: #c6c6c6;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
}
input[type="submit"]:disabled, input[type="reset"]:disabled,
input[type="button"]:disabled, button:disabled, .btn:disabled{
  opacity: 0.7;
}
/* ==========================================================================
   Input sizes
   ========================================================================== */
input.tiny, textarea.tiny{
  width: 55px;
}
input.small, textarea.small{
  width: 100px;
}
input.medium, textarea.medium{
  width: 175px;
}
input.large, textarea.large{
  width: 250px;
}
input.xlarge, textarea.xlarge{
  width: 350px;
}
/* ==========================================================================
   Button style classes
   ========================================================================== */
.btn-blue:not(:disabled), .btn-blue:visited{
  border-color: #3079ed;
  color: #fff;
  background-color: #4787ed;
  background-image: -moz-linear-gradient(#4d90fe, #4787ed);
  background-image: -webkit-linear-gradient(#4d90fe, #4d90fe);
  background-image: linear-gradient(#4d90fe, #4d90fe);
  background-repeat: repeat-x;
}
.btn-blue:not(:disabled):hover{
  border-color: #2f5bb7;
  background-color: #357ae8;
  background-image: -moz-linear-gradient(#4d90fe, #357ae8);
  background-image: -webkit-linear-gradient(#4d90fe, #357ae8);
  background-image: linear-gradient(#4d90fe, #357ae8);
  background-repeat: repeat-x;
}
.btn-red:not(:disabled), .btn-red:visited{
  border: 1px solid transparent;
  color: #fff;
  background-color: #d14836;
  background-image: -moz-linear-gradient(#dd4b39, #d14836);
  background-image: -webkit-linear-gradient(#dd4b39, #d14836);
  background-image: linear-gradient(#dd4b39, #d14836);
  background-repeat: repeat-x;
}
.btn-red:not(:disabled):hover{
  border-color: #b0281a;
  background-color: #357ae8;
  background-image: -moz-linear-gradient(#dd4b39, #c53727);
  background-image: -webkit-linear-gradient(#dd4b39, #c53727);
  background-image: linear-gradient(#dd4b39, #c53727);
  background-repeat: repeat-x;
}
/* ==========================================================================
   Input group
   ========================================================================== */
.input-group{
  white-space: nowrap;
}
.input-group > input, .input-group > button{
  margin-left: -5px;
  border-radius: 0px;
}
.input-group > *:first-child{
  margin-left: 0px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.input-group > *:last-child{
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.input-group > label, .input-group > span{
  background-color: #f7f7f7;
}