.message-box{    
  padding: 2px;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.2);
  border: solid 1px #d1d1d1;
  border-radius: 2px;
  margin: 10px 0px;
}

.success, .warning, .info{
  padding-left: 18px;
  background-repeat: no-repeat;
}

.message-box.success,
.message-box.warning,
.message-box.info{
  background-position: 2px;
  padding-left: 20px;
}

.success{
  color: #468847;
  background-image: url(../icon/success.png);
}

.message-box.success{
  background-color: #dff0d8;
}

.warning{
  color: #c09853;    
  background-image: url(../icon/warning.png);    
}

.message-box.warning{
  background-color: #fcf8e3;
}

.info{
  color: #3a87ad;
  background-image: url(../icon/info.png);
}

.message-box.info{
  background-color: #d9edf7;
}

.no-icon{
  padding-left: 0px;
  background-image: none;
}