/*codeminus.org Navigators CSS library v1.0*/

/* ==========================================================================
   Base for all navigators lists
   ========================================================================== */
.nav{
  list-style: none;
  margin: 0;
  padding-left: 0;
  display: inline-block;
  vertical-align: top;
}
.nav > li > a, .nav > li.header, .nav > li.footer{
  padding: 8px 11px;
  text-shadow: 0 1px 0 #fff;
  border: solid 1px transparent;
}
.nav.medium > li > a, .nav.medium > li.header, .nav.medium > li.footer{
  padding: 18px 21px;
}
.nav.large > li > a, .nav.large > li.header, .nav.large > li.footer{
  padding: 28px 31px;
}
.nav > li > a{
  cursor: pointer;
}
.nav > li > a:hover{
  background-color: #f3f3f3;
  text-decoration: none;
}
.nav .active{
  color: #666;
  border: solid 1px #ddd;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  /*cursor: default;*/
}
.nav .disabled{
  color: #aaa;
  cursor: default;
}
.nav > .header{
  font-weight: bold;
}
.nav > .divider{
  margin: 0px;
}
/*
.nav.rounded{
  border-radius: 3px;
}
.nav.rounded > li > a:first-child{
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.nav.rounded > li > a:last-child{
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}*/
/* ==========================================================================
   Vertical list
   ========================================================================== */
.nav-vlist > li > a{
  display: block;
}
/* ==========================================================================
   Vertical list style 02
   ========================================================================== */
.nav-vlist.style02{
  background-color: #fafafb;
  border: solid 1px #ddd;
}
.nav-vlist.style02 > li{
  border-bottom: 1px solid #eee;
  border-top: 1px solid #fff;
}
.nav-vlist.style02 > li:first-child{
  border-top: #eee;
}
.nav-vlist.style02 > li:last-child{
  border-bottom: #fafafb;
}
.nav-vlist.style02 .active{
  box-shadow: none;
  border: solid 1px transparent;
  background-color: white;
  color: #333;
  font-weight: bold;
}
.nav-vlist.style02 .header{
  background-color: #eee;
  background-image: -moz-linear-gradient(#eee, #fafafa);
  background-image: -webkit-linear-gradient(#eee, #fafafa);
  background-image: linear-gradient(#eee, #fafafa);
  background-repeat: repeat-x;
}
.nav-vlist.style02 .footer{
  background-color: #fafafa;
  background-image: -moz-linear-gradient(#fafafa, #e7e7e7);
  background-image: -webkit-linear-gradient(#fafafa, #e7e7e7);
  background-image: linear-gradient(#fafafa, #e7e7e7);
  background-repeat: repeat-x;
}
/* ==========================================================================
   Horizontal list
   ========================================================================== */
.nav-hlist > li{
  display: table-cell;
}
.nav-hlist > .divider{
  border-left: solid 1px #ddd;
}
/* ==========================================================================
   Navigation horizontal toolbar
   ========================================================================== */
.nav-htoolbar > li{
  display: table-cell;
}
.nav-htoolbar > li > a{
  background-color: white;
  border: solid 1px #eee;
  border-left: none;
  text-align: center;
}
.nav-htoolbar > li:first-child > a{
  border-left: solid 1px #eee;
}
.nav-htoolbar > li > a.active{
  background-color: #d9edf7;
  box-shadow: none;
}
.nav-htoolbar.rounded > li:first-child > a{
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.nav-htoolbar.rounded > li:last-child > a{
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
/* ==========================================================================
   Navigation vertical toolbar
   ========================================================================== */
.nav-vtoolbar > li{
  display: block;
}
.nav-vtoolbar > li > a{
  background-color: white;
  border: solid 1px #eee;
  border-bottom: none;
  text-align: center;
}
.nav-vtoolbar > li:last-child > a{
  border-bottom: solid 1px #eee;
}
.nav-vtoolbar > li > a.active{
  background-color: #d9edf7;
  box-shadow: none;
}
.nav-vtoolbar.rounded > li:first-child > a{
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.nav-vtoolbar.rounded > li:last-child > a{
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
/* ==========================================================================
   Horizontal tabs
   ========================================================================== */
.nav-htabs {
  border-bottom: solid 1px #ddd;
  margin-bottom: 5px;
}
.nav-htabs > li{
  display: inline-block;
}
.nav-htabs > li > a{
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  margin-bottom: -1px;
}
.nav-htabs .active{
  border-bottom: solid 1px #fff;
  box-shadow: none;
}
/* ==========================================================================
   Horizontal inverted tabs 
   ========================================================================== */
.nav-htabs.inverted{
  border-top: solid 1px #ddd;
  border-bottom: none;
  margin-bottom: 0;
  margin-top: 5px;
}
.nav-htabs.inverted > li > a{
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  margin-top: -1px;
  margin-bottom: 0;
}
.nav-htabs.inverted .active{
  border-top: solid 1px #fff;
  border-bottom: solid 1px #ddd;
  box-shadow: none;
  /*box-shadow: 0 1px 3px rgba(0,0,0,0.1);*/
}
/* ==========================================================================
   Vertical tabs
   ========================================================================== */
.nav-vtabs{
  border-right: solid 1px #ddd;
  display: inline-block;
}
.nav-vtabs > li > a{
  display: block;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.nav-vtabs .active{
  border-right: solid 1px #fff;
  box-shadow: none;
  /*box-shadow: -1px 0 3px rgba(0,0,0,0.1);*/
  margin-right: -1px;
}
/* ==========================================================================
   Vertical tabs inverted
   ========================================================================== */
.nav-vtabs.inverted{
  border-left: solid 1px #ddd;
  border-right: none;
}
.nav-vtabs.inverted > li > a{
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.nav-vtabs.inverted .active{
  border-right: solid 1px #ddd;
  border-left: solid 1px #fff;
  box-shadow: none;
  margin-left: -1px;
  margin-right: 0;
}
/* ==========================================================================
   Tabs
   ========================================================================== */
.tab:not(.active){
  display: none;
}
/* ==========================================================================
   Simple list
   ========================================================================== */
.nav-simple > li > a, .nav-simple > li.header{
  padding: 0;
}
.nav-simple > li > a:hover{
  background-color: transparent;
  text-decoration: underline;
}
.nav-simple.inline li{
  display: inline-block;
  margin: 0 10px;
}
.nav-simple.inline li:first-child{
  margin-left: 0;
}
/* ==========================================================================
   Pager
   ========================================================================== */
.nav-pager{
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}
.nav-pager > li{
  display: inline;
}
.nav-pager > li > a{
  float: left;
  padding: 4px 12px;
  border: solid 1px #ddd;
  border-right: none;
  background-color: white;
  line-height: 20px;
}
.nav-pager > li:first-child > a{
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.nav-pager > li:last-child > a{
  border: solid 1px #ddd;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.nav-pager > li > a.active{
  box-shadow: none;
  border-right: inherit;
  background-color: #f7f7f7;
}
.nav-pager .disabled, .nav-pager .disabled:hover{
  color: #ccc;
  cursor: default;
  background-color: white;
}
.nav-pager.small > li > a{
  font-size: 80%;
  padding: 4px 8px;
  line-height: 16px;
}
.nav-pager.tiny > li > a{
  font-size: 60%;
  padding: 4px 6px;
  line-height: 12px;
}
/* ==========================================================================
   Dropdown
   ========================================================================== */
.drop-menu, .submenu > .drop-menu{
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0 1px 5px rgba(0,0,0,0.3);
  min-width: 150px;
  z-index: 1000;
}
.submenu > .trigger:hover{
  cursor: default;
}
.caret,
.arrow-top,
.arrow-right,
.arrow-bottom,
.arrow-left{
  font-size: 20px;
  vertical-align: bottom;
}
button > .caret{
  line-height: 14px;
}