/*codeminus.org Navigation CSS library v1.0*/

/* ==========================================================================
   Base for all navigation lists
   ========================================================================== */
.nav{
  list-style: none;
  padding-left: 0px;
  display: inline-block;
}
.nav > li > a{
  padding: 10px 13px;
  text-shadow: 0 1px 0 #fff;
}
.nav > li > a:hover{
  background-color: #f7f7f7;
}
.nav .selected{
  color: #666;
  border: solid 1px #ddd;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
}
.nav li.header{
  font-weight: bold;
}
/* ==========================================================================
   Vertical list
   ========================================================================== */
.nav-vlist > li > a{
  display: block;
}
/* ==========================================================================
   Horizontal list
   ========================================================================== */
.nav-hlist > li{
  display: inline-block;
}
.nav-hlist > li.header{
  background-color: #f7f7f7;
  padding: 10px 13px;
}
/* ==========================================================================
   Horizontal tabs
   ========================================================================== */
.nav-htabs {
  list-style: none;
  padding-left: 0px;
  border-bottom: solid 1px #ddd;
}
.nav-htabs > li{
  display: inline-block;
}
.nav-htabs > li > a{
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.nav-htabs .selected{
  border-bottom: solid 1px #fff;
  box-shadow: 0px -1px 3px rgba(0,0,0,0.1);
  margin-bottom: -1px;
}
/* ==========================================================================
   Horizontal inverted tabs 
   ========================================================================== */
.nav-htabs.inverted{
  border-top: solid 1px #ddd;
  border-bottom: none;
}
.nav-htabs.inverted > li > a{
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.nav-htabs.inverted .selected{
  border-top: solid 1px #fff;
  border-bottom: solid 1px #ddd;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
  margin-top: -1px;
  margin-bottom: 0px;
}
/* ==========================================================================
   Vertical tabs
   ========================================================================== */
.nav-vtabs{
  list-style: none;
  padding-left: 0px;
  display: inline-block;
  margin: 10px;
  border-right: solid 1px #ddd;
}
.nav-vtabs > li > a{
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.nav-vtabs .selected{
  border-right: solid 1px #fff;
  box-shadow: -1px 0px 3px rgba(0,0,0,0.1);
  margin-right: -1px;
}
/* ==========================================================================
   Vertical tabs inverted
   ========================================================================== */
.nav-vtabs.inverted{
  border-left: solid 1px #ddd;
  border-right: none;
}
.nav-vtabs.inverted > li > a{
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.nav-vtabs.inverted .selected{
  border-right: solid 1px #ddd;
  border-left: solid 1px #fff;
  box-shadow: 1px 0px 3px rgba(0,0,0,0.1);
  margin-left: -1px;
  margin-right: 0px;
}
/* ==========================================================================
   Simple list
   ========================================================================== */
.nav-simple{
  width: 185px;
  vertical-align: top;
}
.nav-simple > li > a{
  padding: 1px 0px;
}
.nav-simple > li > a:hover{
  background-color: transparent;
  text-decoration: underline;
}
.nav-simple.inline li{
  display: inline-block;
  margin: 0px 10px;
}
.nav-simple.inline li:first-child{
  margin-left: 0px;
}