#version 1.1

<Files *.ini> 
    Order deny,allow
    Deny from all
</Files>

RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l

#RewriteRule ^(.+)$ index.php/$1 [QSA,L]
RewriteRule ^(.+)$ index.php?qs=$1 [QSA,L]

Options -Indexes