/*codeminus.org Base CSS library v1.0*/
@import "normalize.css";
/* ==========================================================================
   General tags
   ========================================================================== */
body{
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  color: #444;
}
*{
  outline: none !important;
}
h1, h2, h3, h4, h5, h6{
  margin: 10px 0;
  margin-top: 20px;
}
h1{ font-size: 3.5em; }
h2{ font-size: 3em; }
h3{ font-size: 2.5em; }
h4{ font-size: 2em; }
h5{ font-size: 1.5em; }
h6{ font-size: 1.2em; }
a, a:visited{
  text-decoration: none;
  color: #4183C4;
  outline: none; 
  display: inline-block;
}
a:hover{
  text-decoration: underline;
}
a img{
  border: none;
  vertical-align: middle;
}
p{
  line-height: 24px;
}
pre, code{
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  border-radius: 3px;
  border: solid 1px #ddd !important;
  background-color: #f7f7f7;
  padding: 2px;
  color: #333;
  text-shadow: 0 1px 0 #ffffff;
  margin: 0px;
}
li{
  line-height: 20px;
}
/* ==========================================================================
   clear fix
   ========================================================================== */
.clearfix, .row {
  *zoom: 1;
}
.clearfix:before, .row:before,
.clearfix:after, .row:after {
  display: table;
  line-height: 0;
  content: "";
}
.clearfix:after, .row:after {
  clear: both;
}
/* ==========================================================================
   Display classes
   ========================================================================== */
.block, .childs-block > *{
  display: block !important;
}
.inline, .childs-inline > *{
  display: inline-block !important;
}
.table, .childs-table > *{
  display: table !important;
}
.hide{
  display: none;    
}
.invisible{
  visibility: hidden;
}
/* ==========================================================================
   Position classes
   ========================================================================== */
.float-left{
  float: left;
}
.float-right{
  float: right;
}
.valign-top, .childs-valign-top > *{
  vertical-align: top;
}
.valign-middle, .childs-valign-middle > *{
  vertical-align: middle;
}
.valign-bottom, .childs-valign-bottom > *{
  vertical-align: bottom;
}
/* ==========================================================================
   Text classes
   ========================================================================== */
.text-align-left{
  text-align: left;
}
.text-align-right{
  text-align: right;
}
.text-align-center{
  text-align: center;
}
.text-disabled{
  color: #aaa;
}
.text-disabled a{
  color: #ffccff;
}
.text-large{
  font-size: 150%;
}
.text-xlarge{
  font-size: 200%;
}
.text-xxlarge{
  font-size: 300%;
}
.text-shadow{
  text-shadow: 0 1px 0 #ffffff !important;
}
.text-bold{
  font-weight: bold;
}
.text-normal{
  font-weight: normal;
}
/* ==========================================================================
   Utility classes
   ========================================================================== */
img.disabled{
  opacity: 0.3;
}
.divider{
  display: block;
  height: 1px;
  border-bottom: 1px solid #eee;
  margin: 10px 0;
}
.bordered, .childs-bordered > *{
  border: solid 1px #ddd;
}
.rounded{
  border-radius: 3px;
}
.underlined{
  border-bottom: solid 1px #eee;
}
.multi-columns3{
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
}
.multi-columns4{
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4;
}
/* ==========================================================================
   Shadows
   ========================================================================== */
.shadow-small{
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}
.shadow-medium{
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}
.shadow-large{
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
/* ==========================================================================
   Bubble
   ========================================================================== */
.bubble{
  background-color: #eee;
  border-radius: 3px;
  padding: 3px;
}
.bubble.light{
  background-color: #f7f7f7;
}
/* ==========================================================================
   Messages
   ========================================================================== */
.success, .text-sucess{
  color: #468847 !important;
}
.warning, .text-warning{
  color: #c09853 !important;
}
.info, .text-info{
  color: #3a87ad !important;
}
.error, .text-error{
  color: #b94a48 !important;
}
.close{
  font-size: 20px;
  font-weight: bold;
  position: relative;
  top: -5px;
  float: right;
  background-color: transparent !important;
  border: none !important;
  cursor: pointer;
  padding: 0px !important;
  margin: 5px;
}
/* ==========================================================================
   Margins
   ========================================================================== */
.margined, .childs-margined > *{
  margin: 10px !important;
}
.margined-top, .childs-margined-top > *{
  margin-top: 10px !important;
}
.margined-bottom, .childs-margined-bottom > *{
  margin-bottom: 10px !important;
}
.margined-left, .childs-margined-left > *{
  margin-left: 10px !important;
}
.margined-right, .childs-margined-right > *{
  margin-right: 10px !important;
}
.margined-vertical, .childs-margined-vertical > *{
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
.margined-horizontal, .childs-margined-horizontal > *{
  margin-left: 10px !important;
  margin-right: 10px !important;
}
/* ==========================================================================
   Widths
   ========================================================================== */
.width-tiny, .childs-width-tiny > *{
  width: 30px !important;
  min-width: 30px;
}
.width-mini, .childs-width-mini > *{
  width: 60px !important;
  min-width: 60px;
}
.width-small, .childs-width-small > *{
  width: 100px !important;
  min-width: 100px;
}
.width-medium, .childs-width-medium > *{
  width: 180px !important;
  min-width: 180px;
}
.width-large, .childs-width-large > *{
  width: 250px !important;
  min-width: 250px;
}
.width-xlarge, .childs-width-xlarge > *{
  width: 350px !important;
  min-width: 350px;
}
.width-xxlarge, .childs-width-xxlarge > *{
  width: 550px !important;
  min-width: 550px;
}
.width-max, .childs-width-max > *{
  width: 100% !important;
}
.width-min{
  width: 1px;
}