/*codeminus.org Containers CSS library v1.0*/
/* ==========================================================================
   Main Containers
   ========================================================================== */
[class^="container-"], [class*=" container-"]{
  vertical-align: top;
  color: #444;
}
.container-centered{
  width: 920px;
  margin: 0 auto;
}
.container-header{
  background-color: #f7f7f7;
  border-bottom: solid 1px #d8d8d8;
  padding: 10px 0;
  margin-bottom: 10px;
}
.container-upper-foot{
  background-color: #f7f7f7;
  border-top: solid 1px #d8d8d8;
  font-size: 85%;
  padding: 10px 0;
  margin-top: 10px;
}
.container-lower-foot{
  font-size: 85%;
  padding: 10px 0;
}
/* ==========================================================================
   Container alert
   ========================================================================== */
.container-alert.success > div,
.container-alert.success > header,
.container-alert.success > section,
.container-alert.success > footer{
  border: solid 1px #c6d9b6 !important;
}
.container-alert.warning > div,
.container-alert.warning > header,
.container-alert.warning > section,
.container-alert.warning > footer{
  border: solid 1px #ebdec5 !important;
}
.container-alert.info > div,
.container-alert.info > header,
.container-alert.info > section,
.container-alert.info > footer{
  border: solid 1px #acd8e1 !important;
}
.container-alert.error > div,
.container-alert.error > header,
.container-alert.error > section,
.container-alert.error > footer{
  border: solid 1px #dec3c7 !important;
}
.container-alert.rounded > div,
.container-alert.rounded > header,
.container-alert.rounded > section,
.container-alert.rounded > footer{
  border-radius: 3px;
}
.container-alert.success > *{
  background-color: #dff0d8;
}
.container-alert.success .divider{
  border-color: #c6d9b6;
}
.container-alert.warning > *{
  background-color: #fcf8e3;
}
.container-alert.warning .divider{
  border-color: #ebdec5;
}
.container-alert.info > *{
  background-color: #d9edf7;
}
.container-alert.info .divider{
  border-color: #acd8e1;
}
.container-alert.error > *{
  background-color: #f2dede;
}
.container-alert.error .divider{
  border-color: #dec3c7;
}
/* ==========================================================================
   Container box
   ========================================================================== */
.container-box{
  display: inline-block;
}
.container-box > *{
  border: solid 1px #d8d8d8;
  border-top: none;
  background-color: white;
}
.container-box > div:first-child,
.container-box > header:first-child,
.container-box > section:first-child,
.container-box > footer:first-child,
.container-box > *:first-child{
  border: solid 1px #d8d8d8;
}
.container-box > *:only-child{
  border-top: solid 1px #d8d8d8;
}
.container-box.rounded > div:first-child,
.container-box.rounded > header:first-child,
.container-box.rounded > section:first-child,
.container-box.rounded > footer:first-child{
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.container-box.rounded > div:last-child,
.container-box.rounded > header:last-child,
.container-box.rounded > section:last-child,
.container-box.rounded > footer:last-child{
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.container-box > div,
.container-box > header,
.container-box > section,
.container-box > footer{
  padding: 10px 13px;
}
.container-box > header, .container-box > .header,
.container-box > footer, .container-box > .footer{
  background-color: #f7f7f7;
  text-shadow: 0 1px 0 #fff;
}
.container-box > header, .container-box > .header{
  font-weight: bold;
}
.container-box > footer, .container-box > .footer{
  color: #999;
  font-size: 80%;
}
/* ==========================================================================
   Container box style 02
   ========================================================================== */
.container-box.style02 > footer, .container-box.style02 > header{
  background-color: #fafafa;
  background-image: -moz-linear-gradient(#fafafa, #e7e7e7);
  background-image: -webkit-linear-gradient(#fafafa, #e7e7e7);
  background-image: linear-gradient(#fafafa, #e7e7e7);
  background-repeat: repeat-x;
}
/* ==========================================================================
   Bubble container
   ========================================================================== */
.container-bubble{
  background-color: #eee;
  border-radius: 3px;
  padding: 3px;
  display: inline-block;
}
.container-bubble > *{
  display: block;
}