/*codeminus.org Forms CSS library v1.0*/
/* ==========================================================================
   General form tags
   ========================================================================== */
fieldset{
  border: solid 1px #dcdcdc;
  margin-bottom: 5px;
}
legend{
  font-size: 90%;
  padding: 0 3px;
  color: #aaa;
}
label{
  font-weight: bold;
  cursor: pointer;
}
input,
textarea,
select,
button,
.btn,
.btn:visited{
  display: inline-block;
  margin: 5px 0;
  padding: 6px 9px;
  border-radius: 3px;
  border: solid 1px #dcdcdc;
  color: #333;
  vertical-align: middle;
  box-shadow: 0 1px 2px rgba(0,0,0,0.075) inset;
}
select{
  padding: 5px;
}
input[type="radio"], input[type="checkbox"]{
  border: none;
  position: relative;
  top: 1px;
  vertical-align: baseline;
}
input[type="text"],
input[type="password"],
input[type="email"],
textarea{
  -webkit-appearance: none;
}
input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select{
  width: 180px;
  background-color: white;
} 
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus,
select:focus{
  background-color: #ffffee;
  border-color: #ccc;
  box-shadow: 0 1px 2px rgba(0,0,0,0.075);
  -webkit-transition: border linear 0.3s, box-shadow ease-in-out 0.3s;
  -moz-transition: border linear 0.3s, box-shadow ease-in-out 0.3s;
  -o-transition: border linear 0.3s, box-shadow ease-in-out 0.3s;
  transition: border linear 0.3s, box-shadow ease-in-out 0.3s;
}
input:disabled,
textarea:disabled{
  background-color: #fafafa !important;
  color: #bbb !important;
  border: solid 1px #dcdcdc !important;
  box-shadow: none !important;
}
/* ==========================================================================
   Buttons
   ========================================================================== */
input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.btn,
.btn:visited{
  border: 1px solid #dcdcdc;
  cursor: pointer;
  background-color: #fafafa;
  background-image: -moz-linear-gradient(#fafafa, #e7e7e7);
  background-image: -webkit-linear-gradient(#fafafa, #e7e7e7);
  background-image: linear-gradient(#fafafa, #e7e7e7);
  /*background-color: #f7f7f7;
  background-image: -moz-linear-gradient(#f7f7f7, #f3f3f3);
  background-image: -webkit-linear-gradient(#f7f7f7, #f3f3f3);
  background-image: linear-gradient(#f7f7f7, #f3f3f3);*/
  background-repeat: repeat-x;
  box-shadow: none;
  text-decoration: none !important;
}
input[type="submit"].active,
input[type="submit"]:not(:disabled):active,
input[type="submit"].active:hover,
input[type="reset"].active,
input[type="reset"]:not(:disabled):active,
input[type="reset"].active:hover,
input[type="button"].active,
input[type="button"]:not(:disabled):active,
input[type="button"].active:hover,
button.active,
button:not(:disabled):active,
button.active:hover,
.btn.active,
.btn:not(:disabled):active,
.btn.active:hover,
.btn.active:visited{
  background-color: #eee;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#eee),to(#e0e0e0));
  background-image: -webkit-linear-gradient(top,#eee,#e0e0e0);
  background-image: -moz-linear-gradient(top,#eee,#e0e0e0);
  background-image: -ms-linear-gradient(top,#eee,#e0e0e0);
  background-image: -o-linear-gradient(top,#eee,#e0e0e0);
  background-image: linear-gradient(top,#eee,#e0e0e0);
  box-shadow: 0 1px 2px rgba(0,0,0,0.2) inset;
  border: 1px solid #ccc;
  color: #333;
}
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
button:hover,
.btn:hover{
  border-color: #c6c6c6;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}
input[type="submit"]:disabled,
input[type="reset"]:disabled,
input[type="button"]:disabled,
button:disabled,
.btn:disabled{
  opacity: 0.7;
  box-shadow: none !important;
}
/* ==========================================================================
   Form style classes
   ========================================================================== */
.form-input-perline input,
.form-input-perline textarea, 
.form-input-perline select,
.form-input-perline button,
.form-input-perline .btn,
.form-input-perline .input-group,
.form-input-perline .textarea-group{
  display: table;
}
.form-input-perline input[type="radio"],
.form-input-perline input[type="checkbox"]{
  display: inline;
  vertical-align: baseline;
}
.form-input-padding-large input,
.form-input-padding-large textarea,
.form-input-padding-large button,
.form-input-padding-large .btn,
.form-input-padding-large .input-group > label,
.form-input-padding-large .input-group > span,
.form-input-padding-large .textarea-group > label,
.form-input-padding-large .textarea-group > span{
  padding: 8px 11px;
}
.form-input-padding-large select{
  padding: 7px;
}
.form-input-padding-xlarge input,
.form-input-padding-xlarge textarea,
.form-input-padding-xlarge button,
.form-input-padding-xlarge .btn,
.form-input-padding-xlarge .input-group > label,
.form-input-padding-xlarge .input-group > span,
.form-input-padding-xlarge .textarea-group > label,
.form-input-padding-xlarge .textarea-group > span{
  padding: 12px 15px;
}
.form-input-padding-xlarge select{
  padding: 11px;
}
/* ==========================================================================
   Button style classes
   ========================================================================== */
.btn-small, .btn-large, .btn-xlarge{
  font-weight: normal !important;
}
.btn-large, .btn-xlarge{
  border-radius: 4px;
  padding: 10px 13px;
}
.btn-small{
  font-size: 9px;
}
.btn-large{
  font-size: 20px;
}
.btn-xlarge{
  font-size: 26px;
}
.btn-blue:not(:disabled), .btn-blue:visited,
.btn-success:not(:disabled), .btn-success:visited,
.btn-warning:not(:disabled), .btn-warning:visited,
.btn-info:not(:disabled), .btn-info:visited,
.btn-danger:not(:disabled), .btn-danger:visited,
.btn-black:not(:disabled), .btn-black:visited{
  color: #fff !important;
  text-shadow: 0 1px 0 rgba(0,0,0,0.3) !important;
}
.btn-blue:not(:disabled):hover,
.btn-success:not(:disabled):hover,
.btn-warning:not(:disabled):hover,
.btn-info:not(:disabled):hover,
.btn-danger:not(:disabled):hover,
.btn-black:not(:disabled):hover{
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}
.btn-blue:active,
.btn-blue.active,
.btn-success:active,
.btn-success.active,
.btn-warning:active,
.btn-warning.active,
.btn-info:active,
.btn-info.active,
.btn-danger:active,
.btn-danger.active,
.btn-black:active,
.btn-black.active{
  box-shadow: 0 1px 3px rgba(0,0,0,0.4) inset !important;
}
.btn-blue:not(:disabled), .btn-blue:visited{
  border: 1px solid #3079ed;
  background-color: #4d90fe;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#4d90fe),to(#4787ed)) !important;
  background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed) !important;
  background-image: -moz-linear-gradient(top,#4d90fe,#4787ed) !important;
  background-image: -ms-linear-gradient(top,#4d90fe,#4787ed) !important;
  background-image: -o-linear-gradient(top,#4d90fe,#4787ed) !important;
  background-image: linear-gradient(top,#4d90fe,#4787ed) !important;
}
.btn-blue:not(:disabled):hover{
  border: 1px solid #2f5bb7;
}
.btn-blue:not(:disabled):active, .btn-blue:not(:disabled).active{
  border: 1px solid #2f5bb7 !important;
}
.btn-success:not(:disabled), .btn-success:visited{
  border: 1px solid #51a351;
  background-color: #5bb75b;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#62c462),to(#51a351)) !important;
  background-image: -webkit-linear-gradient(top,#62c462,#51a351) !important;
  background-image: -moz-linear-gradient(top,#62c462,#51a351) !important;
  background-image: -ms-linear-gradient(top,#62c462,#51a351) !important;
  background-image: -o-linear-gradient(top,#62c462,#51a351) !important;
  background-image: linear-gradient(top,#62c462,#51a351) !important;
}
.btn-success:not(:disabled):hover{
  border: 1px solid #518851;
}
.btn-success:not(:disabled):active, .btn-success:not(:disabled).active{
  border: 1px solid #518851 !important;
}
.btn-warning:not(:disabled), .btn-warning:visited{
  border: 1px solid #f89406;
  background-color: #faa732;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#fbb450),to(#f89406)) !important;
  background-image: -webkit-linear-gradient(top,#fbb450,#f89406) !important;
  background-image: -moz-linear-gradient(top,#fbb450,#f89406) !important;
  background-image: -ms-linear-gradient(top,#fbb450,#f89406) !important;
  background-image: -o-linear-gradient(top,#fbb450,#f89406) !important;
  background-image: linear-gradient(top,#fbb450,#f89406) !important;
}
.btn-warning:not(:disabled):hover{
  border: 1px solid #f87706;
}
.btn-warning:not(:disabled):active, .btn-warning:not(:disabled).active{
  border: 1px solid #f87706 !important;
}
.btn-info:not(:disabled), .btn-info:visited{
  border: 1px solid #2f96b4;
  background-color: #c53727;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#5bc0de),to(#2f96b4)) !important;
  background-image: -webkit-linear-gradient(top,#5bc0de,#2f96b4) !important;
  background-image: -moz-linear-gradient(top,#5bc0de,#2f96b4) !important;
  background-image: -ms-linear-gradient(top,#5bc0de,#2f96b4) !important;
  background-image: -o-linear-gradient(top,#5bc0de,#2f96b4) !important;
  background-image: linear-gradient(top,#5bc0de,#2f96b4) !important;
}
.btn-info:not(:disabled):hover{
  border: 1px solid #24748c;
}
.btn-info:not(:disabled):active, .btn-info:not(:disabled).active{
  border: 1px solid #2f96b4 !important;
}
.btn-danger:not(:disabled), .btn-danger:visited{
  border: 1px solid #c53727;
  background-color: #d14836;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#dd4b39),to(#d14836)) !important;
  background-image: -webkit-linear-gradient(top,#dd4b39,#d14836) !important;
  background-image: -moz-linear-gradient(top,#dd4b39,#d14836) !important;
  background-image: -ms-linear-gradient(top,#dd4b39,#d14836) !important;
  background-image: -o-linear-gradient(top,#dd4b39,#d14836) !important;
  background-image: linear-gradient(top,#dd4b39,#d14836) !important;  
}
.btn-danger:not(:disabled):hover{
  border: 1px solid #902420;
}
.btn-danger:not(:disabled):active, .btn-danger:not(:disabled).active{
  border: 1px solid #902420 !important;
}
.btn-black:not(:disabled), .btn-black:visited{
  border: 1px solid #222222;
  background-color: #222222;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#444444),to(#222222)) !important;
  background-image: -webkit-linear-gradient(top,#444444,#222222) !important;
  background-image: -moz-linear-gradient(top,#444444,#222222) !important;
  background-image: -ms-linear-gradient(top,#444444,#222222) !important;
  background-image: -o-linear-gradient(top,#444444,#222222) !important;
  background-image: linear-gradient(top,#444444,#222222) !important;  
}
.btn-black:not(:disabled):hover{
  border: 1px solid #222222;
}
.btn-black:not(:disabled):active, .btn-black:not(:disabled).active{
  border: 1px solid #222222 !important;
}
/* ==========================================================================
   Input group & textarea-group
   ========================================================================== */
.input-group{
  white-space: nowrap;
  display: inline-block;
  font-size: 0;
  margin: 5px 0;
  vertical-align: middle;
}
.input-group > label,
.input-group > span,
.textarea-group > label,
.textarea-group > span{
  display: inline-block;
  padding: 6px 9px;
  border: solid 1px #dcdcdc;
}
.input-group > *, .input-group .trigger{
  /*margin-left: -1px;*/
  border-radius: 0 !important;
  vertical-align: middle;
  margin: 0 !important;
}
.input-group > *{
  display: inline-block !important;
  font-size: 14px;
}
.input-group > *:first-child{
  margin-left: 0;
  border-top-left-radius: 3px !important;
  border-bottom-left-radius: 3px !important;
}
.input-group > *:last-child, .input-group .trigger{
  border-top-right-radius: 3px !important;
  border-bottom-right-radius: 3px !important;
}
.input-group > label, .input-group > span{
  background-color: #f7f7f7;
  box-shadow: none;
}
/* ==========================================================================
   Input group prepend & append
   ========================================================================== */
.input-group.prepend-tiny > *:first-child,
.input-group.append-tiny > *:last-child{
  width: 30px;
}
.input-group.prepend-mini > *:first-child,
.input-group.append-mini > *:last-child{
  width: 60px;
}
.input-group.prepend-small > *:first-child,
.input-group.append-small > *:last-child{
  width: 100px;
}
.input-group.prepend-medium > *:first-child,
.input-group.append-medium > *:last-child{
  width: 180px;
}
/* ==========================================================================
   Textarea group
   ========================================================================== */
.textarea-group{
  display: inline-block;
  margin: 5px 0;
  vertical-align: top;
}
.textarea-group > span, .textarea-group > textarea, .textarea-group > label{
  display: block !important;
  margin: 0;
}
.textarea-group > label, .textarea-group > span{
  background-color: #f7f7f7;
  box-shadow: none;
  margin-bottom: -1px;
}
.textarea-group textarea,
.textarea-group button,
.textarea-group input{
  border-radius: 0;
  margin-bottom: -1px;
}
.textarea-group > *:first-child{
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.textarea-group > *:last-child{
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.textarea-group > .input-group{
  display: table !important;
  padding: 0;
  border: none;
}
.textarea-group > .input-group > *{
  margin-top: 0;
  margin-bottom: 0;
}
.textarea-group > .input-group:last-child > *:first-child{
  border-top-left-radius: 0px !important;
}
.textarea-group > .input-group:last-child > *:last-child{
  border-top-right-radius: 0px !important;
}