/*codeminus.org Layouts CSS library v1.0*/
/* ==========================================================================
   Layout row
   ========================================================================== */
.row {
  *zoom: 1;
}
.row:before,
.row:after {
  display: table;
  line-height: 0;
  content: "";
}
.row:after {
  clear: both;
}
.row > [class^="span"]:not(:first-child),
.row > [class*=" span"]:not(:first-child){
  margin-left: 10px;
}
[class^="span"], [class*=" span"]{
  float:left;
}
.span12{
  width: 920px;
}
.span11{
  width: 842.5px;
}
.span10{
  width: 765px;
}
.span9{
  width: 687.5px;
}
.span8{
  width: 610px;
}
.span7, .childs-span7 > *{
  width: 532.5px;
}
.span6, .childs-span6 > *{
  width: 455px;
}
.span5, .childs-span5 > *{
  width: 377.5px;
}
.span4, .childs-span4 > *{
  width: 300px;
}
.span3, .childs-span3 > *{
  width: 222.5px;
}
.span2, .childs-span2 > *{
  width: 145px;
}
.span1, .childs-span1 > *{
  width: 67.5px;
}

.offset12{
  margin-left: 920px;
}
.offset11{
  margin-left: 842.5px;
}
.offset10{
  margin-left: 765px;
}
.offset9{
  margin-left: 687.5px;
}
.offset8{
  margin-left: 610px;
}
.offset7{
  margin-left: 532.5px;
}
.offset6{
  margin-left: 455px;
}
.offset5{
  margin-left: 377.5px;
}
.offset4{
  margin-left: 300px;
}
.offset3{
  margin-left: 222.5px;
}
.offset2{
  margin-left: 145px;
}
.offset1{
  margin-left: 67.5px;
}