/*codeminus.org Layouts CSS library v1.0*/
/* ==========================================================================
   Layout row
   ========================================================================== */
.row {
  *zoom: 1;
}
.row:before,
.row:after {
  display: table;
  line-height: 0;
  content: "";
}
.row:after {
  clear: both;
}
.row > [class^="span"]:not(:first-child),
.row > [class*=" span"]:not(:first-child){
  margin-left: 10px;
}
[class^="span"], [class*=" span"]{
  float:left;
}
.span10{
  width: 920px;
}
.span9{
  width: 827px;
}
.span8{
  width: 744px;
}
.span7{
  width: 641px;
}
.span6{
  width: 548px;
}
.span5, .childs-span5 > *{
  width: 455px;
}
.span4, .childs-span4 > *{
  width: 362px;
}
.span3, .childs-span3 > *{
  width: 269px;
}
.span2, .childs-span2 > *{
  width: 176px;
}
.span1, .childs-span1 > *{
  width: 83px;
}

.offset10{
  margin-left: 920px;
}
.offset9{
  margin-left: 827px;
}
.offset8{
  margin-left: 744px;
}
.offset7{
  margin-left: 641px;
}
.offset6{
  margin-left: 548px;
}
.offset5{
  margin-left: 455px;
}
.offset4{
  margin-left: 362px;
}
.offset3{
  margin-left: 269px;
}
.offset2{
  margin-left: 176px;
}
.offset1{
  margin-left: 83px;
}