/*codeminus.org Tables CSS library v1.0*/
/* ==========================================================================
   Default table style
   ========================================================================== */
table{
  border-collapse: collapse;
  vertical-align: top;
  width: 100%;
}
caption{
  margin-bottom: 5px;
}
table thead th{
  vertical-align: bottom;
}
th, td{
  text-align: left;
  padding: 8px;
}
table tfoot{
  color: #999;
  font-size: 80%;
}
/* ==========================================================================
   .table-underlined
   ========================================================================== */
.table-underlined th,
.table-underlined td{
  border-bottom: solid 1px #d8d8d8;
}
.table-underlined tr:last-child td{
  border-bottom: none;
}
.table-underlined tbody + tbody {
  border-top: solid 2px #d8d8d8;
}
.table-underlined tfoot tr:first-child td{
  border-top: solid 1px #d8d8d8;
}
/* ==========================================================================
   .table-hover
   ========================================================================== */
.table-hover-success tr:hover{
  background-color: #dff0d8 !important;
}
.table-hover-warning tr:hover{
  background-color: #fcf8e3 !important;
}
.table-hover-info tr:hover{
  background-color: #d9edf7 !important;
}
.table-hover-error tr:hover{
  background-color: #f2dede !important;
}
.table-hover-yellow tr:hover{
  background-color: #ffffee !important;
}
.table-hover-gray tr:hover{
  background-color: #f3f3f3 !important;
}
/* ==========================================================================
   .table-striped
   ========================================================================== */
.table-striped-success tr:nth-child(odd){
  background-color: #dff0d8;
}
.table-striped-warning tr:nth-child(odd){
  background-color: #fcf8e3;
}
.table-striped-info tr:nth-child(odd){
  background-color: #d9edf7;
}
.table-striped-error tr:nth-child(odd){
  background-color: #f2dede;
}
.table-striped-yellow tr:nth-child(odd){
  background-color: #ffffee;
}
.table-striped-gray tr:nth-child(odd){
  background-color: #f7f7f7;
}
/* ==========================================================================
   table colors
   ========================================================================== */
table.success, tr.success, td.success, td.success{
  background-color: #dff0d8;
}
table.warning, tr.warning, td.warning, td.warning{
  background-color: #fcf8e3;
}
table.info, tr.info, td.info, td.info{
  background-color: #d9edf7;
}
table.error, tr.error, td.error, td.error{
  background-color: #f2dede;
}
/* ==========================================================================
   table-condensed
   ========================================================================== */
.table-condensed th,
.table-condensed td {
  padding: 4px;
}
/* ==========================================================================
   table-bordered
   ========================================================================== */
.table-bordered th,
.table-bordered td{
  border: solid 1px #d8d8d8;
}
/* ==========================================================================
   table-border-rounded
   ========================================================================== */
.table-border-rounded{
  border: 1px solid #d8d8d8;
  border-collapse: separate;
  *border-collapse: collapse;
  border-radius: 4px;
}
.table-border-rounded th,
.table-border-rounded td{
  border-bottom: solid 1px #d8d8d8;
  border-right: solid 1px #d8d8d8;
}
.table-border-rounded tr th:last-child,
.table-border-rounded tr td:last-child{
  border-right: 0;
}
.table-border-rounded thead:last-child tr:last-child th,
.table-border-rounded thead:last-child tr:last-child td,
.table-border-rounded tbody:last-child tr:last-child th,
.table-border-rounded tbody:last-child tr:last-child td,
.table-border-rounded tfoot:last-child tr:last-child th,
.table-border-rounded tfoot:last-child tr:last-child td{
  border-bottom: 0;
}
